.blurred {
  background-image: url('background-blurred.jpg');
  background: black;
  overflow: visible;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 109%;
}
