<form name="venues" class="welcome venues">
  <table>
    <tr ng-repeat="venue in venues track by $index" class="venue-list">
      <td><label> {{venue.name}} </label></td>
      <td><input type="checkbox" ng-model="venues[$index].selected" class="my-input"></td>
    </tr>
    <tr>
      <td><label>check all</label></td>
      <td><input type="checkbox" ng-click="checkAll()"></td>
    </tr>
  </table>
  <input class="btn btn-success" type="submit" value="Weave Playlist" ng-click="save()">
</form>
