<html ng-app="OrbWeaver">
  <head>
    <title>OrbWeaver 2.0</title>

    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="app.js"></script>

    <script src="js/services/auth.js"></script>
    <script src="js/services/bandsintown.js"></script>
    <script src="js/services/user.js"></script>
    <script src="js/services/spotify.js"></script>
    <script src="js/directives/locationform.js"></script>
    <script src="js/directives/venues.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>

    <div ng-controller="AppController as ctrl" ng-class="{blurred: !isLoggedIn}" class="container">

      <a ng-click="logout()" ng-show="isLoggedIn">logout</a>

      <a ng-click="login()" ng-show="!isLoggedIn">login</a>

      <!--<img ng-src="{{userPhoto}}" ng-if="isLoggedIn" />-->

      <venues weave="ctrl.weave"></venues>

    </div>

  </body>
</html>
