<html ng-app="OrbWeaver">
  <head>
    <title>OrbWeaver 2.0</title>

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/bower_components/angular-google-places-autocomplete/src/autocomplete.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-google-places-autocomplete/src/autocomplete.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="app.js"></script>

    <script src="js/services/auth.js"></script>
    <script src="js/services/bandsintown.js"></script>
    <script src="js/services/user.js"></script>
    <script src="js/services/spotify.js"></script>
    <script src="js/directives/locationform.js"></script>
    <script src="js/directives/venues.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>

    <div ng-controller="AppController" ng-class="{blurred: !isLoggedIn}">

      <div id="logout-button" ng-click="logout()" ng-if="isLoggedIn">logout</div>

      <div class="login" ng-if="!isLoggedIn">
        <div class="button" ng-click="login()">
          login
        </div>
      </div>

      <!--<img ng-src="{{userPhoto}}" ng-if="isLoggedIn" id="user-image" />-->

      <venues></venues>

      <!--&lt;!&ndash;City selection&ndash;&gt;-->
      <!--<div id="search" ng-if="isLoggedIn">-->
        <!--<location-form weave="weave()"></location-form>-->
      <!--</div>-->


    </div>

  </body>
</html>
