html {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background-full.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
}

.row,
.column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;
}

.column + .column {
  margin-left: 1.6%;
}

.column-1 {
  width: 8.33333333333%;
}

.column-2 {
  width: 16.6666666666%;
}

.column-3 {
  width: 24.9999999999%;
}

.column-4 {
  width: 33.3333333332%;
}

.column-5 {
  width: 41.6666666665%;
}

.column-6 {
  width: 49.9999999998%;
}

.column-7 {
  width: 58.3333333331%;
}

.column-8 {
  width: 66.6666666664%;
}

.column-9 {
  width: 74.9999999997%;
}

.column-10 {
  width: 83.3333333333%;
}

.column-11 {
  width: 91.6666666663%;
}

.column-12 {
  width: 100%;
}

.navbar {
  /*display: inline;*/
  /*position: fixed;*/
  height: 100px;
  /*width: 100%;*/
  background-color: rgba(145, 164, 55, 0.2);
}

.navbar span {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: white;
  float: right;
  top: 50%;
  margin: 38px 47px 0 0;
  opacity: 0.6;

}
.user {
  /*float: left;*/
  /*display: inline;*/
  /*width: 20%;*/
}
.name a {
  /*bottom: 50%;*/
  /*left: 50%;*/
  float: right;
}

.user img {
  background-color: rgba(0, 0 ,0 ,1);
  opacity: 1;
  max-height: 90px;
  margin: 4px;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;

}
.form {
 text-align: center;
}
h1 {
  font-family: 'Raleway', sans-serif;
  color: #91A437;
  /*font-size: 101px;*/
  line-height: 1;
  margin-bottom: 0px;
}

.text-input {
  text-align: left;
  font-size: 52px;
  background: none;
  border: 0;
  /*padding: 0;*/
  box-shadow: none;
  color: white;
  /*transform: translate(14%,-35%);*/
  /*text-align: center;*/
}

/*input[type="text"] {*/
  /*text-align: center;*/
/*}*/

.text-input:focus {
  outline: 0;
}

.center {
  width: 525px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%,-80%);
}

/*input {*/
  /*text-align: center;*/
  /*transform: translate(-50%,-50%);*/

/*}*/
